# OS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.so
.Python
.venv/
venv/
env/
ENV/
.env
.env.*
.python-version

# Jupyter
.ipynb_checkpoints/
.jupyter/

# VSCode / IDEs
.vscode/
.idea/
*.iml

# Data and outputs
data/
models/**
!models/.gitkeep
!models/README.md
reports/**
!reports/.gitkeep
!reports/README.md
figures/**
!figures/.gitkeep
!figures/README.md

# Logs / temps
*.log
*.tmp
*.temp
tmp/
